{% extends 'base.html' %}

{% block content %}

     <div class="container mt-4">
          <!-- Progress Bar -->
          <div class="progress mb-4" role="progressbar" aria-label="Default striped example" aria-valuenow="67" aria-valuemin="0" aria-valuemax="100">
               <div class="progress-bar progress-bar-striped bg-info" style="width: 99.9%">99.9%</div>
          </div>
          
          <!-- Flash Messages -->
          {% for message in get_flashed_messages() %}
          <div class="alert alert-warning alert-dismissible fade show" role="alert">
               {{ message }}
               <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
               </button>
          </div>
          {% endfor %}

          <h2 class="mb-4">Appointments List</h2>
    
          {% if appointments %}
          <table class="table table-bordered">
               <thead>
                   <tr>
                       <th>Patient Name</th>
                       <th>Phone</th>
                       <th>Business ID</th>
                       <th>Appointment Date</th>
                       <th>Appointment Time</th>
                       <th></th>
                   </tr>
               </thead>
               <tbody>
                   {% for appointment in appointments %}
                   {% set patient = patient_map[appointment['patient_id']] %}
                   <tr>
                       <td>{{ patient.first_name }} {{ patient.last_name }}</td>
                       <td>{{ patient.phone }}</td>
                       <td>{{ appointment['business_id'] }}</td>
                       <td>{{ appointment['date'] }}</td>
                       <td>{{ appointment['time'] }}</td>
                       <td>
                         <form method="POST" action="{{ url_for('main.delete_draft_appointment', appointment_index=loop.index0, business_id=request.args.get('business_id'), patient_id=request.args.get('patient_id')) }}">
                              <button class="btn btn-danger btn-sm rounded" type="submit"><i class="fa-solid fa-circle-minus"></i></button>
                         </form>
                       </td>
                   </tr>
                   {% endfor %}
               </tbody>
           </table>
           {% else %}
           <p>No appointments have been added yet.</p>
           {% endif %}

          <!-- configure with request param -->
          <form action="{{ url_for('main.search_patient') }}" method="get">
               <input type="hidden" name="business_id" value="{{ request.args.get('business_id') }}">
               <button type="submit" class="btn btn-primary"><i class="fa-solid fa-plus"></i></button>
          </form>
          <!-- Empty out session list -->
          <form method="POST" action="{{ url_for('main.clear_draft_appointments', business_id=request.args.get('business_id'), patient_id=request.args.get('patient_id')) }}">
               <button class="btn btn-danger rounded"><i class="fa fa-trash"></i></button>
          </form>
          <!-- empty list, add appointments to DB, send SMS  -->
          <a href="" class="btn btn-success">Send SMS</a>
     </div>

{% endblock %}