{% extends 'base.html' %}

{% block content %}

     <div class="progress" role="progressbar" aria-label="Default striped example" aria-valuenow="10" aria-valuemin="0" aria-valuemax="100">
          <div class="progress-bar progress-bar-striped" style="width: 33.3%">33.3%</div>
     </div>
     <br/>

     {% for message in get_flashed_messages() %}
        <div class="alert alert-warning alert-dismissible fade show" role="alert">
            {{message}}
            <button type="button" class="close" data-dismiss="alert" aria-label="Close">
            <span aria-hidden="true">&times;</span>
            </button>
        </div>
    {% endfor %}

    <!-- SEARCH PATIENT FORM -->
        <h1>2. Search for patient</h1>
        <form method="POST" action="{{ url_for('main.search_patient' , business_id=business_id) }}">
          {{ form.hidden_tag() }}
          {{ form.query.label(class="form-label") }} 
          {{ form.query(class="form-control") }}
          <br/>
          {{ form.search(class="btn btn-primary")}}
        </form>

        <br/>
    <!-- SELECT PATIENT FORM -->
     {% if patients %}
        <form method="POST" action="{{ url_for('main.select_patient', business_id=business_id) }}">
          {{ form.hidden_tag() }}
          <div class="list-group">
               {% for patient in patients %}
                    <button type="submit" class="list-group-item list-group-item-action"
                              name="selected_patient" value="{{ patient.patient_id }}">
                         {{ patient.last_name | upper}}, {{ patient.first_name }}  - {{ patient.phone }}
                    </button>
               {% endfor %}
          </div>  
          <br>
        </form>
     {% elif request.method == 'POST' %}
        <small>No results found.</small>
     {% endif %}
     <!-- REDIRECT CREATE PATIENT FORM -->
     <form action="{{ url_for('main.create_new_patient') }}" method="get">
          <input type="hidden" name="business_id" value="{{ business_id }}"> 
          <button type="submit" class="btn-sm btn-warning">Create new patient</button>
     </form>

{% endblock %}